.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fd;
  border-bottom: 1px solid #ddd;
}
.f-div{
    display: flex;
    gap: 1.5rem;


}
.logo-image{
    height: 35px;
    width: auto;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
